<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="<%= base_url %>/css/normalize.css">
    <link rel="stylesheet" href="<%= base_url %>/css/main.css">
    <script src="<%= base_url %>/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<%= yield %>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script>window.d3 || document.write('<script src="<%= base_url %>/js/vendor/d3.v3.min.js"><\/script>')</script>
    <script src="<%= base_url %>/js/plugins.js"></script>
    <script src="<%= base_url %>/js/main.js"></script><% if defined?(chart) %>
    <script>
<%= erb :"chart.js", :locals => chart %>
    </script><% end %>
  </body>
</html>
